.main-area {
    background: linear-gradient(
        rgba(37, 36, 36, 0.45), 
        rgba(255, 203, 8, 0.45)
      ), url('/images/dinner.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.menu-col {
    padding: 0px;
    .menu {
    width: 100%;
    background-color: white;
    height: 100vh;
    ul {
        padding: 0px;
        position: relative;
        top: calc(50% - 110px);
    li {
        list-style: none;
        padding: 10px 0px;

        a{
            text-decoration: none;
        }
    }
    }
   
}
}

// Contact Component

.contact {
    margin-top: 200px;
    width: 500px;
    // background-color: #26292c;
    // color: white;
    height: 300px;
    font-size: 25px;
    form {
        top: calc(50% - 100px);
        position: relative;
        div {
            padding: 0px;
        }
    }
}